h2{
    color: red;
}

body {
    background-color: ; 
}

h2{color:red ;
}
#plankton{
    color:grey;
}

p{
    border:3px solid;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height:px;
}
list-style-type

ul{
    color:grey;
   
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color:red ;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}

#stuff{
    Border:6px solid;
    padding:10px;  
    height:800px
}

Span {
    font-weight:bold
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




