h2{
    color: red;
}

body {
    background-color: pink; 
}

h2{color:red ;
}
#plankton{
    color:grey;
}

p{
    border:3px solid;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height:px;
}
